.dd-nav {
  width: 100%;
}
/* 左  加 入 x  */
.dd-add {
  float: left;
  width: 300px;
  display: block;
  background: #FFF;
  padding-bottom: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(235,235,235,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(235,235,235,1);
  box-shadow: 0px 0px 3px 0px rgba(235,235,235,1);
}
.dd-add > H1.header, .dd > H1.header {
  padding: 0 7px;
  background: #E4E4E4;
  font-size: 15px;
  margin-bottom: 10px;
}
.dd-add > div.item {
  position: relative;
  display: block;
  min-height: 33px;
  padding: 0 10px 0 60px;
  margin-bottom: 5px;
}
.dd-add > div.item > label {
  position: absolute;
  left: 10px;
  top: 0px;
  display: inline-block;
}

/* 右  x  排 列 */
.dd {
  float: left;
  width: calc(100% - 400px);
  min-height: 244px;
  position: relative;
  display: block;
  margin-left: 50px;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(235,235,235,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(235,235,235,1);
  box-shadow: 0px 0px 3px 0px rgba(235,235,235,1);
}
.dd > span.note {
  display: block;
  padding: 0 10px 10px 10px;
  font-size: 15px;
  line-height: 25px;
}
.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}
.dd > .dd-list {
  padding: 0 10px 10px 10px;
}
.dd-list .dd-list {
  padding-left: 30px;
}
.dd-item,
.dd-empty,
.dd-placeholder {
  width: 400px;
  position: relative;
  margin-bottom: 5px;
  padding: 0;
  min-height: 30px;
  font-size: 14px;
  line-height: 30px;
}
.dd-handle {
  display: block;
  height: 40px;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 3px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.dd-handle:hover {
  color: #2ea8e5;
  background: #fff;
}
.dd-edit {
  display: none;
  background: #F7F7F7;
  border: 1px solid #ccc;
  border-top: none;
  padding: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.dd-edit > div.item {
  position: relative;
  display: block;
  min-height: 33px;
  padding: 0 10px 0 60px;
  margin-bottom: 5px;
}
.dd-edit > div.item > label {
  position: absolute;
  left: 10px;
  top: 0px;
  display: inline-block;
}
.dd-item > span {
  position: absolute;
  right: 5px;
  top: 5px;
  display: inline-block;
  padding: 7px;
  font-size: 16px;
  cursor: pointer;
}
.dd-item > .dd-list {
  margin-top: 5px;
}


.dd-item > button {
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 20px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}
.dd-item > button:before {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}
.dd-item > button.dd-expand:before {
  content: '+';
}
.dd-item > button.dd-collapse:before {
  content: '-';
}
.dd-expand {
  display: none;
}
.dd-collapsed .dd-list,
.dd-collapsed .dd-collapse {
  display: none;
}
.dd-collapsed .dd-expand {
  display: block;
}
.dd-empty,
.dd-placeholder {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}
.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}
.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}
.dd-dragel .dd-handle {
  box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}


@media screen and (max-width:1199px) {
  /* 左  加 入 x  */

  /* 右  x  排 列 */
  .dd {
    float: right;
    width: calc(100% - 350px);
    margin-left: 50px;
  }
  .dd-item,
  .dd-empty,
  .dd-placeholder {
    width: 335px;
  }
}

@media screen and (max-width:979px) {
  .dd-item,
  .dd-empty,
  .dd-placeholder {
    width: 100%;
  }
}

@media screen and (max-width:767px) {
  /* 左  加 入 x  */
  .dd-add {
    width: 100%;
    margin-bottom: 10px;
  }
  /* 右  x  排 列 */
  .dd {
    width: 100%;
    margin-left: 0px;
  }
}
